@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Digital";
    src: local("Digital"), url(~/assets/digital-7.ttf);
}

@layer base {
    h1 {
        @apply text-5xl lg:text-7xl mx-auto font-bold
    }
}

html {
    background-color:#a0a0a0;
    font-size:20pt;
}

@screen lg {
    .number {
        font-size:230px;
    }
}

h1 {
    font-family: Ariel, sans-serif; 
    /* font-style: italic; */
}

p {
    font-family: Ariel, sans-serif;
    margin-bottom: 15px;
}

.highlight {
    font-family: "Digital", sans-serif;
    font-weight:bold;
    color: #fff833 !important;
    background-color: black;
    text-shadow: 0.5px 0.5px 5px #fff833;
}

#board {
    background-color:rgb(70, 70, 70);
    color:white;
    padding:5px;
    font-size:20pt;
}

.bgnumbers {
    width:13px;
    margin: 0px 1px 0px 1px;
}