@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Digital";
    src: local("Digital"), url(~/assets/digital-7.ttf);
}

@layer base {
    h1 {
        @apply text-5xl lg:text-7xl mx-auto font-bold
    }
    .header {
        @apply my-5 p-2
    }
}

html {
    background-color:#2e2e2e;
    color:white;
    font-size:20pt;
}

p {
    font-family: Ariel, sans-serif;
    margin-bottom: 15px;
}

.header {
    font-size:40px;
    color:#d98d00;
    border-bottom: 4px solid #d98d00;
    font-weight:bold;
}