node_modules
*.log*
.nuxt
.nitro
.cache
.output
.env
dist

.vite

data-historical-both.csv

__pycache__
.pytest_cache

.vscode

data-historical-both.csv
raw_data-max.csv
raw_data-min.csv
raw_data.csv
raw_data2.csv