@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-5xl lg:text-7xl mx-auto font-bold
    }
}

html {
    background-color:#393939;
    color:white;
}

.number {
    font-family: axia-stencil, sans-serif; 
    color:#ad1409;
    line-height:10%;
    pointer-events:none;
}

.number {
    font-family: axia-stencil, sans-serif; 
    color:#ad1409;
    font-size:60;
    pointer-events:none;
}

@screen lg {
    .number {
        font-family: axia-stencil, sans-serif; 
        color: #ad1409;
        line-height:100%;
        font-size:230px;
        pointer-events:none;
    }
}

.number-box {
    border: 2px solid;
    box-shadow: 1px 2px 15px black inset;
    background: white;
    line-height:170%;
}

h1 {
    font-family: axia-stencil, sans-serif; 
    /* font-style: italic; */
}

p {
    font-family:  trasandina, sans-serif;
    margin-bottom: 15px;
}

.highlight {
    font-family: axia-stencil, sans-serif;
    font-weight:bold;
    color: #fff833;
}